<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/9a5f304f-a2ea-42c7-a6f9-4cad6335fb99/resourceGroups/Todo/providers/Microsoft.ApiManagement/service/APITodoapi/apis/APITodo</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/9a5f304f-a2ea-42c7-a6f9-4cad6335fb99/resourceGroups/Todo/providers/Microsoft.Web/sites/API-Todo-app</ResourceId>
    <ResourceGroup>Todo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://api-todo-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ed04926f-4dec-4889-afd3-a40b3e09c4ab</ProjectGuid>
    <PublishUrl>https://api-todo-app.scm.azurewebsites.net/</PublishUrl>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA1L9IUOAJYUaRd9D7UiJVDQAAAAACAAAAAAAQZgAAAAEAACAAAADOuCGPpNH4WZmD1KCA79zt1nPFfkjfEYX2erGB2S62egAAAAAOgAAAAAIAACAAAACEymuWmDng37jMQ6+rZPFHSmQFnGn+bn3fELlye4Cn1yAAAABBay8sbwfq7ytuBsquQfuJ8Q29itRqapP0HETs6jaGwUAAAAB25kX2bOUa1wgfNA85RcUpFagMnG5Y1bCcltKrDYbuG+UzO0hDFqZMEY/LiHuU6GvdpUR+p5AdRG4ThHXXP0X3</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>